{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": 0,
    "indent": "off",
    "prettier/prettier": "error",
    "@typescript-eslint/no-var-requires": 2,
    "@typescript-eslint/indent": ["error", 2],
    "react/jsx-indent-props": [1, "first"],
    "react/jsx-filename-extension": [1, {
      "extensions": [".ts", ".tsx", ".js", ".jsx"]
    }]
  }
}
